*{
    box-sizing: border-box;
}



.playGround{
 width: 90%;
 height: 90%;
 border: 1px solid red;
 margin: auto;
 margin-top: 30px;
 position: relative;
}


#cube {
  width: 10%;
  height: 10%;
  top: 10%;
  left: 10%;
  background-color: aquamarine;
  position: absolute;
}

 #cube.hit{
    background-color: coral;
}

#cube.safe{
    background-color: green;
}