* {
  box-sizing: border-box;
}
body {
  background-color: burlywood;
}
.title {
  width: 50%;
  height: 10%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: black;
  font-size: 80px;
  color: aquamarine;
}
.playGround {
  width: 80%;
  height: 80%;
  border: 1px solid red;
  margin: auto;
  margin-top: 100px;
  border: 10px solid black;
  border-radius: 20px;
  position: relative;
}

#cube {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: aquamarine;
  position: absolute;
}

#cube.hit {
  background-color: coral;
}

#cube.safe {
  background-color: green;
}
